#money-bag-img {
  height: 80%;
  width: 80%;
  object-fit: contain;
  align-items: center;
  justify-content: center;
}

#loss-animation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 300px;
}

#loss-animation-modal {
  max-height: 100px;
  height: 100px;
}
