#bitcoin-price-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#live-price-label,
#live-price-amount {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  margin-top: 30px;
  border: 3px solid #ffbe79;
  border-radius: 10px;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 5px;
  background-color: #374151;
  color: white;
  font-size: 30px;
}

#bitcoin-logo {
  height: 30px;
  margin-right: 0.5em;
  vertical-align: middle;
}
