#bitcoin-price-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1vh;
  margin-top: 20px;
}

#bitcoin-logo {
  height: 30px;
  margin-right: 0.5em;
}

#current-price {
  font-size: 30px;
}
