#profit-loss-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  font-size: 25px;
  border: 3px solid #ffbe79;
  border-radius: 10px;
  padding-top: 10px;

  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 5px;
  background-color: #374151;
  color: white;
  width: 40%;
}
