#total-profit-loss-headline {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #ffbe79;
  border-radius: 10px;
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 20px;
  background-color: #374151;
  width: 40%;
  margin-top: 5px;
}

#profit-loss-text {
  font-size: 25px;
  color: white;
  vertical-align: middle;
}
