.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #ffbe79;
}

#logo {
  margin-top: 20px;
  height: 40%;
  width: 40%;
}
